<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
  </head>
  <body>
  @using MusicOrganizer.Models;

  <h2>Here are all the records by @Model["Artist"].Name</h2>


  @if(Model["Albums"].Count == 0)
  {
    <p>No albums available</p>
  }  
  <ol>
  @foreach (Record item in @Model["Albums"])
  {
    <li>@item.Name</li>
  }
  </ol>
 
  
  
  
  
  
  </body>
</html>
